html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ================================ General ============================= */

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0 12px;
  font-family: "Ubuntu", sans-serif;
}

/* ================================== Header ============================= */

.header {
  background-color: rgb(42, 99, 80);
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 99;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-header {
  margin-left: 100px;
}

.left-header a {
  font-size: 20px;
  color: rgb(201, 195, 188);
  text-decoration: none;
}

.left-header a:hover {
  color: #f55353;
}

.mid-header a {
  color: rgb(139, 161, 97);
  text-decoration: none;
  padding: 0 10px;
  font-size: 20px;
}

.mid-header a:hover {
  color: #fcd900;
}

.mid-header .home {
  color: rgb(70, 44, 30);
  text-underline-offset: 5px;
}

.mid-header .home:active {
  color: #f55353;
  text-decoration: underline rgb(134, 134, 202);
}

.right-header {
  margin-right: 100px;
}

.right-header a {
  font-size: 15px;
  font-weight: bold;
  background-color: antiquewhite;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  padding: 8px;
  margin: 0 5px;
}

.right-header a:hover {
  background-color: #15133c;
  color: whitesmoke;
}

/* ======================================== Float Section ============================ */

.float-section {
  margin: 0 auto;
  background-color: cadetblue;
  height: 500px;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
}
.clearfix::after {
  clear: both;
}

.float-section h1 {
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 4px;
}

.float-box-1 {
  height: 350px;
  width: 350px;
  float: left;
  border: 4px solid tomato;
  padding: 15px 0;
  margin: 40px auto;
}

.float-box-2 {
  height: 350px;
  width: 350px;
  float: left;
  border: 4px solid tomato;
  padding: 15px 0;
  margin: 40px auto;
  margin-left: 135px;
}

.float-box-2 .hero12 {
  float: left;
  margin-left: 8px;
}

.float-box-3 {
  height: 350px;
  width: 350px;
  float: right;
  border: 4px solid tomato;
  padding: 15px 0;
  margin: 40px auto;
}

.float-box-3 .hero13 {
  float: right;
  margin-right: 8px;
}

.float-box-1 h3,
.float-box-2 h3,
.float-box-3 h3 {
  border: 2px solid rgb(250, 161, 60);
  background-color: rgb(7, 56, 56);
  border-radius: 8px;
  color: white;
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px auto;
}

.float-box-1 .hero11,
.float-box-2 .hero12,
.float-box-3 .hero13 {
  border: 2px solid rgb(107, 41, 41);
  border-radius: 8px;
  background-color: rgb(50, 71, 85);
}

/* ======================================= Position Section ========================== */

.position-section {
  clear: both;
  margin: 40px;
}

.position-section h1 {
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 4px;
}

.position-box {
  margin-top: 20px;
}

.position-box-1 {
  border: 4px solid purple;
  height: 350px;
  width: 350px;
  position: absolute;
  left: 12px;
  padding-top: 15px;
}

.position-box-2 {
  border: 4px solid purple;
  height: 350px;
  width: 350px;
  margin: 0 auto;
  padding-top: 15px;
}

.position-box-3 {
  border: 4px solid purple;
  height: 350px;
  width: 350px;
  position: absolute;
  right: 12px;
  top: 640px;
  padding-top: 15px;
}

.position-box-1 h3,
.position-box-2 h3,
.position-box-3 h3 {
  border: 2px solid rgb(250, 161, 60);
  background-color: rgb(7, 56, 56);
  border-radius: 8px;
  color: white;
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px auto;
}

.position-box .position-hero {
  border: 2px solid rgb(107, 41, 41);
  border-radius: 8px;
  background-color: rgb(50, 71, 85);
}

.position-box-2 .hero22 {
  position: relative;
  top: 40px;
  left: 40px;
  z-index: 1;
}

.position-box-3 .hero23 {
  position: relative;
  right: 95px;
  z-index: 1;
}

.position-box-3 .head3 {
  position: relative;
  top: -102px;
}

.position-section-p {
  border: 4px solid purple;
  margin: 10px auto;
  text-align: center;
  width: 350px;
  height: 400px;
  overflow-y: scroll;
}

.hero {
  position: absolute;
  top: 1050px;
  left: 620px;
  border: 2px solid rgb(107, 41, 41);
  background-color: rgb(50, 71, 85);
  border-radius: 8px;
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
  color: white;
}

/* ========================================= Flex Section ============================ */

.flex-section {
  background-color: cadetblue;
}
.flex-common {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(250, 161, 60);
  border-radius: 8px;
  background-color: rgb(7, 56, 56);
  color: white;
  height: 100px;
  width: 100px;
}

.flex-section h1 {
  text-align: center;
  font-size: 20px;
  padding: 20px;
  letter-spacing: 2px;
  word-spacing: 4px;
}

.flex-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-1-item {
  margin: 2px auto;
}

.flex-2 {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
}

.flex-2-item {
  margin: 2px 2px;
}

.hr {
  border: 1px solid red;
  width: 1100px;
}

.flex-3 {
  display: flex;
  justify-content: center;
  width: 1100px;
  margin: 0 auto;
}

.flex-3-item {
  margin: auto 2px;
}

.stretched-box {
  flex-grow: 1;
}

.flex-4 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-4-item {
  text-align: center;
  margin: 20px 80px;
  justify-content: space-evenly;
}

/* =========================================== Footer ================================ */

.footer {
  display: flex;
  align-items: center;
  background-color: blueviolet;
  padding: 20px;
  margin: 10px auto;
}

.left-footer {
  background-color: darkgoldenrod;
  padding: 10px;
  border-radius: 50%;
}

.left-footer:hover {
  background-color: #d11818;
}

.left-footer a i {
  color: white;
}

.left-footer a i:hover {
  color: #3f2727;
}

.mid-footer {
  font-size: 30px;
  margin: auto;
}

.mid-footer a {
  color: darkgoldenrod;
  margin-right: 20px;
}

.mid-footer a:hover {
  color: #242f9b;
}

/* ========================================== Scroll Up ==============================  */

.go-to-top {
  position: fixed;
  bottom: 60px;
  right: -40px;
  font-size: 20px;
  background-color: crimson;
  color: whitesmoke;
  padding: 20px 60px 20px 20px;
  border-radius: 50px;
  cursor: pointer;
}

/* ======================================== AirCampus Logo =========================== */

.aircampus-logo {
  position: fixed;
  bottom: 20px;
  right: 5px;
  height: 20px;
  width: 60px;
}
